body {
    font-size: 20px;
    font-family: 'Helvetica','Arial',sans-serif;
    -webkit-font-smooth: always;
}
h6{
    font-family: 'Oswald','Impact',condensed,sans-serif;
    text-align: center;
}
.trainBkgrd{
    background: url('../img/train.jpg') no-repeat center center;
    background-size: cover;
    margin-top: 0px;
    min-height: 100vh;
}
.contained {
    padding-top: 20px;
}
.contained .jumbotron{
    text-align: center;
    font-family: 'Oswald','Impact',condensed,sans-serif;
    padding: 30px 30px 15px 30px;
    border-left: 15px solid #069;
    border-top: 0px solid #069;
    border-right: 15px solid #069;
    border-radius: 100px 100px 0px 0px;
    background: rgba(240,235,245,0.9)
}
.contained .jumbotron h2{
    font-size: 4rem;
    letter-spacing: 10px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    text-shadow: -2px 2px 0px rgba(255,255,255,0.8); 
}
.contained .jumbotron h3{
    color: #069;
    letter-spacing: 30px;
    font-weight: 200;
}

/* ------------ TRAIN DATA - BEGIN ------------------- */
.entriesContainer{
    background: #FFF;
    padding: 15px 15px 45px;
    margin: -33px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    border-top: 1px solid #999;
}
.entriesContainer h4{
    font-size: .75rem;
    color: #069;
    font-weight: 700;
    text-transform: uppercase;
    line-height: .75rem;
    margin: 20px 0px 10px;
}
.entriesContainer p{
    font-size: 1rem;
    border-bottom: 1px dotted #999;
    margin: 0px;
    padding: 5px 20px;
    line-height: 30px;
}
.entriesContainer p:nth-child(even){
    background: #eaeaea;
}
.trainForm{
    background: #eaeaea;
    margin: 0px 0px 40px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid #069;
}
.trainForm label {
    font-family: 'Oswald','Impact',condensed,sans-serif;
    font-weight: 200;
    font-size: 1rem;
    color: #999;
}
.trainForm input{
    border: 1px solid #CCC;
    border-radius: 3px;
    font-size: .75rem;
    padding: 5px 10px;
    font-style: italic;
    margin-right: 20px;
}
.trainForm button{
    border: none;
    background: #e21e2d;
    border-radius: 3px;
    font-size: .85rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    padding: 5px 20px 2px;
    width: 200px;
    box-shadow: 0px 2px 0px rgba(0,0,0,0.7);
    transition: all .2s ease .02s;
}
.trainForm button:hover{
    background:#900;
    box-shadow: none;
    transform: translateY(3px);
}
.trainForm input#lastInputHours{
    margin-right: 0px;
}
.trainForm input.time-input{
    width: 38px;
}